:root {
  --darkest: #03045e;
  --dark: #0077b6;
  --button: #00b4d8;
  --light: #90e0ef;
  --lightest: #caf0f8;
}

button,
#submit {
  background-color: var(--button);
  color: var(--darkest);
  border: 1px solid var(--darkest);
  border-radius: 5px;
  padding: 5px 10px;
  transition-duration: 0.3s;
}

button:hover,
#submit:hover {
  background-color: var(--light);
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--darkest);
}

body {
  background-color: var(--lightest);
  height: 100vh;
  margin: 0;
}

#page-container {
  display: flex;
  justify-content: center;
}

#page-header {
  text-align: center;
  font-size: 30px;
}

#dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: max(25%, 200px);
  background-color: var(--lightest);
  border-radius: 5px;
  border: 2px solid var(--darkest);
  justify-items: center;
  gap: 10px;
  padding: 10px;
  margin: 50px auto;
}

#add {
  grid-column: 1/4;
}

table {
  width: 100%;
  background-color: var(--lightest);
  border-radius: 5px;
  border: 2px solid var(--darkest);
  text-align: center;
  margin-bottom: 50px;
  padding: 10px;
}

#form-container {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
}

#piece-form {
  width: max(25%, 200px);
  flex-grow: 0;
  display: grid;
  border: 2px solid var(--darkest);
  border-radius: 5px;
  padding: 10px;
  justify-content: center;
  gap: 5px;
  background-color: var(--dark);
}

form > div {
  display: grid;
}

#checkbox-container {
  display: block;
}
