:root {
  --global-radius: 2px;
  --box-shadow: 2px 2px 5px #6b4d4b73, -2px 2px 5px #6b4d4b73;
  --box-shadow-thin: 1px 1px 3px #6b4d4b73, -1px 1px 3px #6b4d4b73;

  --darkest: #252627;
  --dark: #904e55;
  --mid: #564e58;
  --light: #bfb48f;
  --lightest: #f2efe9;

  /* --darkest: #272643;
  --dark: #2c698d;
  --mid: #bae8e8;
  --light: #e3f6f5;
  --lightest: #ffffff; */
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--darkest);
  max-width: 100%;
  overflow-x: hidden;
}

button,
#submit {
  background-color: var(--dark);
  border: 1px solid var(--dark);
  color: var(--lightest);
  border-radius: var(--global-radius);
  padding: 5px 10px;
  transition-duration: 0.3s;
}

button:hover,
#submit:hover {
  cursor: pointer;
  filter: brightness(95%);
  color: var(--lightest);
  box-shadow: var(--box-shadow);
}

button:active,
#submit:active {
  filter: brightness(85%);
}

body {
  background-color: var(--mid);
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex-grow: 1;
}

header,
footer {
  background-color: var(--darkest);
  color: var(--lightest);
}

header {
  text-align: left;
  font-size: 24px;
  padding: 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  font-size: 16px;
}

#stats,
.card,
#empty-message {
  background-color: var(--lightest);
  border-radius: var(--global-radius);
  padding: 20px;
  box-shadow: var(--box-shadow-thin);
}

#stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: max(30%, 250px);
  justify-items: center;
  gap: 10px;
  margin: 50px auto;
  font-weight: bold;
}

#stats span {
  font-weight: normal;
}

#add {
  width: 75%;
  transform: scale(0.8);
  font-size: 32px;
  font-weight: bold;
}

#empty-message {
  display: none;
}

.card {
  display: grid;
  gap: 10px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.card-title,
#main-card-title {
  font-weight: 900;
}

.card-composer,
#main-card-composer {
  font-style: italic;
}

.progress {
  color: var(--dark);
}

.finished,
#main-card-finished {
  color: green;
}

#main-card-buttons-row {
  padding-top: 20px;
  text-align: right;
}

#cards-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  margin-bottom: 50px;
}

#form-container,
#main-card-container {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
}

#piece-form,
#main-card {
  flex-grow: 0;
  display: grid;
  background-color: var(--lightest);
  box-shadow: var(--box-shadow);
  color: var(--darkest);
  border-radius: var(--global-radius);
  padding: 50px 25px;
  gap: 10px;
}

input,
input:hover,
input:focus,
input:active {
  background-color: var(--lightest);
  border: none;
  border-bottom: 2px solid var(--dark);
  outline: none;
  font-size: 16px;
}

textarea {
  background-color: var(--lightest);
  border: 2px solid var(--dark);
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  resize: vertical;
}

.piece-comments {
  line-height: 2.5ex;
  height: 7.5ex;
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}

#checkbox-container {
  display: flex;
}
