:root {
  --global-radius: 10px;

  --darkest: #252627;
  --dark: #904e55;
  --mid: #564e58;
  --light: #bfb48f;
  --lightest: #f2efe9;

  /* --darkest: #272643;
  --dark: #2c698d;
  --mid: #bae8e8;
  --light: #e3f6f5;
  --lightest: #ffffff; */
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--darkest);
  max-width: 100%;
  overflow-x: hidden;
}

button,
#submit {
  background-color: var(--dark);
  border: 1px solid var(--dark);
  color: var(--lightest);
  border-radius: var(--global-radius);
  padding: 5px 10px;
  transition-duration: 0.3s;
}

button:hover,
#submit:hover {
  background-color: var(--darkest);
  border: 1px solid var(--darkest);
  color: var(--lightest);
}

body {
  background-color: var(--light);
  height: 100vh;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 92vh;
}

header,
footer {
  text-align: center;
  font-size: 30px;
  background-color: var(--darkest);
  color: var(--lightest);
  padding: 20px;
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  font-size: 16px;
}

#dashboard,
table,
.card {
  background-color: var(--lightest);
  border-radius: var(--global-radius);
  border: 2px solid var(--darkest);
  padding: 20px;
}

#dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: max(30%, 250px);
  justify-items: center;
  gap: 10px;
  margin: 50px auto;
}

#add {
  grid-column: 1/4;
}

table {
  width: max(50%, 200px);
  text-align: center;
  margin-bottom: 50px;
}

#cards-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

#form-container {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
}

#piece-form {
  width: max(25%, 200px);
  transform: translateY(-50%);
  flex-grow: 0;
  display: grid;
  background-color: var(--lightest);
  border: 2px solid var(--darkest);
  color: var(--darkest);
  border-radius: var(--global-radius);
  padding: 50px 10px;
  justify-content: center;
  gap: 10px;
}

form > div {
  display: grid;
}

#checkbox-container {
  display: flex;
}

.bold {
  font-weight: bold;
}
